body {
	background: #17343c;
	color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}
.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	display: inline;
	background: linear-gradient(to bottom, #1d212a 80%, #09a1d2 20%);
}
.logo {
    margin: 15px 2% 15px;
	height: 50px;
	width: auto;
	display: inline-block;
}
.profile {
	color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
	display: inline-block;
	margin: 20px 10% 20px;
	float: right;
}
/*Tamagochi's divs*/
.main {
	position: fixed;
	top: 80px;
	left: 30%;
	height: 100%;
	width: 70%;
	background: #333742;
	z-index: 10;
	-webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
.main-div {
	position: relative;
	top: 0;
	left: 10%;
	height: 100%;
	width: 90%;
	background: #19867f;
	z-index: 20;
	-webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
/*Tamagochi*/
.tamagochi {
	position: relative;
	top: 0;
	left: 15%;
	height: 100%;
	width: 85%;
	transform: scale(-1, 1);	
}
.tamagochi>img {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -45%);
	width: 70%;
}
/*Bug's reports*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
.col {
	position: fixed;
  	top: 80px;
  	left: 0;
	height: 100%;
	width: 25%;
	background: #ffffff;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
}
.col * {
	margin: 0;
}
.bug-line {
	background: #00bbe8;
	transform:skew(5deg, 0);
	margin-bottom: 20px;
	border: 4px solid #80999e;
	border-radius: 20px;
}
.bug-line:last-child {
	margin-bottom: 0;
}
.bug-line:after {
  content: "";
  display: table;
  clear: both;
}
.report-button {
	background: #00bbe8;
	display: table;
	vertical-align: middle;
	clear: both;
	width: 150px;
	height: 80px;
	border: 4px solid #80999e;
	border-radius: 15px;
	font-size: 24px;
	color: #ffffff;
	margin-left:auto;
	margin-right: auto;
}
.report-button:hover {
	background: #535E6E; 
}
.bug-image {
  width: 80px;
  float: left;
}
.bug-image a {
  display: block;
  outline: none;
}
.bug-image img {
  display: block;
  border-radius: 15px 0 0 15px;
  width: 100%;
}
.bug-content {
  float: left;
  margin-left: 20px;
}
.report-title {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1;
}
.report-title a {
  text-decoration: none;
  color: #FFFFFF;
}
.point-box {
  color: #666;
  font-size: 18px;
  line-height: 1;
}
.star-rating {
  margin-bottom: 10px;
  font-size: 18px;
  position: relative;
  font-family: 'FontAwesome';
}