.FormBackground {
	position: absolute;
	top: 80px;
	left: 30%;
	height: calc(100% - 80px);
	width: 70%;
	background: #333742;
	z-index: 10;
	-webkit-clip-path: polygon(
		20% 0, 
		100% 0, 
		100% 100%, 
		0 100%
	);
}

.ReportForm {
	position: inherit;
	top: 20%;
	margin-left: 20%;
    border: 5px solid #8393A3;
    border-radius: 20px;
    padding: 20px;
}

.ReportForm>h2 {
	font-size: 28px;
	font-family: 
	'Open Sans', 
	sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ReportFormRow {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
}

.ReportFormCol {
	margin: 5px 25px 10px 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.ReportFormCol>label {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 20px;
	font-family: 
	'Open Sans', 
	sans-serif;
}

.ReportFormCol>label>input, 
.ReportFormCol>label>textarea {
	font-size: 15px;
	font-family: 
	'Open Sans', 
	sans-serif;
	margin: 5px;
	width: 100%;
}

.SubmitButton {
	background: #02BAE8; 
	color: #FFFFFF;
	font-size: 24px;
	font-family: 
	'Open Sans', 
	sans-serif;
	width: 150px;
	margin: 5px;
	border-radius: 15px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.SubmitButton:hover {
	background: #DDE7F0;
	color: #1F232B;
}